In [75]:
import requests
import time
import pandas as pd
import os

In [47]:
# Get list of djia tickers
dow = ['mmm', 'axp', 'aapl', 'ba', 'cat', 'cvx', 'csco', 'ko', 'dow', 'xom', 'gs', 'hd', 'ibm',
      'intc', 'jnj', 'jpm', 'mcd', 'mrk', 'msft', 'nke', 'pfe', 'pg', 'rtx', 'trv', 'unh',
      'vz', 'v', 'wmt', 'wba', 'dis']

In [17]:
key = 'XM9DAWJLXUGZAO5A'
base_url = "https://www.alphavantage.co/query" 
sym = ''

In [29]:
sym = 'BA'
res = requests.get(base_url,
                  params={
    'function' : 'TIME_SERIES_INTRADAY',
    'symbol' : sym,
    'interval' : '1min',
    'outputsize' : 'full',
    'apikey' : key
})
res

In [55]:
for sym in dow[:2]:
    successful = False
    while not successful:
        res = requests.get(base_url,
                      params={
        'function' : 'TIME_SERIES_INTRADAY',
        'symbol' : sym.upper(),
        'interval' : '1min',
        'outputsize' : 'full',
        'apikey' : key})
        if res.status_code == 200:
            print(f'Successfully pulled {sym} data')
            successful = True
        else:
            print(f'trying to get {sym} again')
            print(res)
            time.sleep(5)
    stock = res.json()
    df = pd.DataFrame(stock['Time Series (1min)']).T
    df.to_csv(f'./datasets/dow/{sym}.csv')
    print(f'output {sym} to csv')
    time.sleep(30)

Successfully pulled mmm data
output mmm to csv
Successfully pulled axp data
output axp to csv

In [31]:
aapl = res.json()b

In [44]:
df = pd.DataFrame(aapl['Time Series (1min)']).T
df.to_csv('./asdfasdf.csv')

In [45]:
pd.read_csv('./asdfasdf.csv').head()

            Unnamed: 0   1. open   2. high    3. low  4. close  5. volume
0  2020-05-12 16:00:00  125.4100  125.4900  125.1989  125.2400     205315
1  2020-05-12 15:59:00  125.3699  125.4100  125.2200  125.4000     116870
2  2020-05-12 15:58:00  125.5300  125.5521  125.3200  125.3642     114510
3  2020-05-12 15:57:00  125.7100  125.7500  125.5200  125.5200      72085
4  2020-05-12 15:56:00  125.7400  125.8200  125.6667  125.7100      62458

In [59]:
df.tail()

                     1. open  2. high   3. low 4. close 5. volume
2020-05-06 09:36:00  87.1400  87.3000  87.1100  87.2000     20441
2020-05-06 09:34:00  87.6300  87.7600  87.4300  87.4418     17621
2020-05-06 09:33:00  87.4900  87.7500  87.3900  87.6250     10303
2020-05-06 09:32:00  87.3542  87.4700  87.3542  87.4450      7927
2020-05-06 09:31:00  87.4900  87.6900  87.2500  87.3600     54088

In [53]:
res.status_code

200

In [85]:
df2 = pd.read_csv('./datasets/russia site/aapl.csv')

In [78]:
df2.drop(columns=['<PER>','<TICKER>']).head()

        <DATE>  <TIME>  <LAST>  <VOL>
0     20190903   93001  206.21    200
5679  20190903  132836  204.88    100
5678  20190903  132812  204.90    100
5677  20190903  132808  204.91    100
5676  20190903  132807  204.91    300

In [77]:
df2['<PER>'].value_counts()

0    779963
Name: <PER>, dtype: int64

In [71]:
df2.sort_values('<DATE>', inplace=True)

In [74]:
df2.describe()

          <PER>        <DATE>         <TIME>         <LAST>          <VOL>
count  779963.0  7.799630e+05  779963.000000  779963.000000  779963.000000
mean        0.0  2.019105e+07  122680.809936     245.950366     147.411407
std         0.0  1.096228e+02   21691.178017      23.983664     164.078818
min         0.0  2.019090e+07   93000.000000     204.230000     100.000000
25%         0.0  2.019093e+07  102600.000000     222.090000     100.000000
50%         0.0  2.019103e+07  120724.000000     244.220000     100.000000
75%         0.0  2.019112e+07  143512.000000     264.250000     180.000000
max         0.0  2.019123e+07  155959.000000     293.950000   19000.000000

https://www.finam.ru/profile/akcii-usa-bats/united-technologies/export/?market=25&em=18134&token=03AGdBq26R5oYsaVJ7QZMxHCfVrppyq7nlA71Irgcsrpob_UH7svIif7RzoRXw-qYD0ePNpdUvBpjv9DPKuJ4oMCyZ8d72rlRSXlZJxEUw62eVdvK1IPAg-8gEapI_g6Ou3xpdrs-497L7mGmJnplVhaOd7_ZxpVrTXFB_X-g5zpwHkz_2X49qfVMz3UqpcuXbVcnDiXeBoHWKMHxHUFIkGh-TdUvewDnvFIZgMJ7K1EsXjJCA-EOUHmvCYrpqrG03CMRXnhhVXwnaiSF1MRqSaZugbaUPzL6PgowRw8aY8NwVRkK4toG2vrnxMP_SigIfhdzz5JH17DITkvC17Lpxxjc9xhj4JuLnD28MSsus8LbGcsSyG68RlO61tkNMcI2kQTL0Odql1FIh8CEJpGE6uc9EsxMh0wXiBOQANDkgbAVQISTQQ-veXdGd_7VpZBdfVFgx-j2epsGh&code=UTX&apply=0&df=3&mf=8&yf=2019&from=03.09.2019&dt=31&mt=11&yt=2019&to=31.12.2019&p=1&f=UTX_190903_191231&e=.txt&cn=UTX&dtf=1&tmf=1&MSOR=1&mstimever=0&sep=1&sep2=1&datf=6&at=1

In [134]:
def clean_ru_data(df):
    new_col_names= {
        '<TICKER>' : 'ticker',
        '<DATE>' : 'date',
        '<TIME>' : 'time',
        '<LAST>' : 'price',
        '<VOL>' : 'vol'
    }
    df.rename(columns=new_col_names, inplace=True)
    df['ticker'] = df['ticker'].str.lower()
    df['ticker'] = df['ticker'].str.replace('us1.','')
    df['date_time'] = df['date'].astype(str) + df['time'].astype(str)
    df['date_time'] = pd.to_datetime(df['date_time'], format='%Y%m%d%H%M%S')
    df = df.drop(columns='<PER>')
    return df

In [141]:
files = os.listdir('./datasets/russia site/dirty')
count = 0
for file in files:
    df = pd.read_csv(f'./datasets/russia site/dirty/{file}')
    df = clean_ru_data(df)
    df.to_csv(f'./datasets/russia site/cleaned/{file}', index=False)
    count += 1
    print(f'cleaned and output: {file}.  {count}/31')

cleaned and output: csco.csv.  1/31
cleaned and output: ba.csv.  2/31
cleaned and output: v.csv.  3/31
cleaned and output: wba.csv.  4/31
cleaned and output: utx.csv.  5/31
cleaned and output: mrk.csv.  6/31
cleaned and output: pg.csv.  7/31
cleaned and output: cat.csv.  8/31
cleaned and output: mcd.csv.  9/31
cleaned and output: intc.csv.  10/31
cleaned and output: mmm.csv.  11/31
cleaned and output: ko.csv.  12/31
cleaned and output: msft.csv.  13/31
cleaned and output: hd.csv.  14/31
cleaned and output: axp.csv.  15/31
cleaned and output: xom.csv.  16/31
cleaned and output: cvx.csv.  17/31
cleaned and output: nke.csv.  18/31
cleaned and output: ibm.csv.  19/31
cleaned and output: gs.csv.  20/31
cleaned and output: dis.csv.  21/31
cleaned and output: jpm.csv.  22/31
cleaned and output: pfe.csv.  23/31
cleaned and output: vz.csv.  24/31
cleaned and output: unh.csv.  25/31
cleaned and output: aapl.csv.  26/31
cleaned and output: wmt.csv.  27/31
cleaned and output: rtn.txt.  28/31
cleaned and output: trv.csv.  29/31
cleaned and output: dow.csv.  30/31
cleaned and output: jnj.csv.  31/31

In [143]:
files = os.listdir('./datasets/russia site/cleaned')
count = 0
for file in files:
    df = pd.read_csv(f'./datasets/russia site/cleaned/{file}')
    print(f'{file} has {df.shape[0]} rows')

csco.csv has 529731 rows
ba.csv has 163959 rows
v.csv has 229903 rows
wba.csv has 172138 rows
utx.csv has 102566 rows
.DS_Store has 0 rows
mrk.csv has 231154 rows
pg.csv has 214950 rows
cat.csv has 163378 rows
mcd.csv has 141648 rows
intc.csv has 637904 rows
mmm.csv has 101162 rows
ko.csv has 262028 rows
msft.csv has 714627 rows
hd.csv has 152153 rows
axp.csv has 113998 rows
xom.csv has 256359 rows
cvx.csv has 189222 rows
nke.csv has 229864 rows
ibm.csv has 138904 rows
gs.csv has 109171 rows
dis.csv has 333064 rows
jpm.csv has 425754 rows
pfe.csv has 343348 rows
vz.csv has 295857 rows
unh.csv has 142758 rows
aapl.csv has 779963 rows
wmt.csv has 175803 rows
rtn.txt has 30405 rows
trv.csv has 45818 rows
dow.csv has 51048 rows
jnj.csv has 230853 rows

In [139]:
pd.read_csv('/Users/jsf/Downloads/US1.RTX_190903_200411.txt').tail()

      <TICKER>  <PER>    <DATE>  <TIME>  <LAST>  <VOL>
39185  US1.RTX      0  20200409  155955   64.83    100
39186  US1.RTX      0  20200409  155955   64.83    100
39187  US1.RTX      0  20200409  155957   64.64    243
39188  US1.RTX      0  20200409  155959   64.57    100
39189  US1.RTX      0  20200409  155959   64.57    100

In [135]:
df3 = clean_ru_data(df2)
df3.head()

  ticker      date   time   price  vol           date_time
0   aapl  20190903  93001  206.21  200 2019-09-03 09:30:01
1   aapl  20190903  93001  206.20  200 2019-09-03 09:30:01
2   aapl  20190903  93001  206.12  100 2019-09-03 09:30:01
3   aapl  20190903  93001  206.29  100 2019-09-03 09:30:01
4   aapl  20190903  93001  206.29  100 2019-09-03 09:30:01

In [132]:
df2

        <TICKER>  <PER>      date    time   price  vol       date_time
0       US1.AAPL      0  20190903   93001  206.21  200   2019090393001
1       US1.AAPL      0  20190903   93001  206.20  200   2019090393001
2       US1.AAPL      0  20190903   93001  206.12  100   2019090393001
3       US1.AAPL      0  20190903   93001  206.29  100   2019090393001
4       US1.AAPL      0  20190903   93001  206.29  100   2019090393001
...          ...    ...       ...     ...     ...  ...             ...
779958  US1.AAPL      0  20191231  155959  293.61  100  20191231155959
779959  US1.AAPL      0  20191231  155959  293.50  100  20191231155959
779960  US1.AAPL      0  20191231  155959  293.47  100  20191231155959
779961  US1.AAPL      0  20191231  155959  293.46  100  20191231155959
779962  US1.AAPL      0  20191231  155959  293.44  100  20191231155959

[779963 rows x 7 columns]

In [122]:
# df3['date_'] = pd.to_datetime(df3['date'], format='%Y%m%d')
# df3['time_'] = pd.to_datetime(df3['time'], format='%H%M%S')
df3['date_time_'] = pd.to_datetime(df3['date_time'], format='%Y%m%d%H%M%S')
df3.head()

#

,date,time,price,vol,date_time,date_,time_,date_time_
0,20190903,93001,206.21,200,2019090393001,2019-09-03,1900-01-01 09:30:01,2019-09-03 09:30:01
1,20190903,93001,206.20,200,2019090393001,2019-09-03,1900-01-01 09:30:01,2019-09-03 09:30:01
2,20190903,93001,206.12,100,2019090393001,2019-09-03,1900-01-01 09:30:01,2019-09-03 09:30:01
3,20190903,93001,206.29,100,2019090393001,2019-09-03,1900-01-01 09:30:01,2019-09-03 09:30:01
4,20190903,93001,206.29,100,2019090393001,2019-09-03,1900-01-01 09:30:01,2019-09-03 09:30:01

In [ ]:
# talk to twitter again for api access for searching for tweets using stock tickers with a $
# maybe other twitter scrapers can work or do it via tweetdeck/other app